/*************************************************************/
/*      hoja de estilo de lasaña.html                        */
/*      autor: Jorge Bech Castillo                           */
/*      fecha: octubre 2023                                  */
/*      comentario: ejercicio para portfolio                 */
/*************************************************************/


@font-face {
    font-family: textonormal ;
    src: url(../fonts/SFCartoonistHand.ttf);
}
@font-face {
    font-family: titulo ;
    src: url(../fonts/BlubyKids-Regular.otf);
}
/*2 Selector wildcard (si lo hay) */
*{box-sizing: border-box;}/* indica que el width de cada box será contando el borde hacia dentro */

/*3 estructura del layout general */

body {background-image:url(../img/fondo.jpg);
    font-family: textonormal;
    font-size: 1.6em;}
#wrapper{background-color: rgb(168, 168, 168);
    width: 80%;
    margin: auto;
    padding: 3%;}
#wrapper2{background-color: rgb(110, 108, 108);
    margin:auto;
    width:60%;
    padding: 1%;
    box-shadow: 7px 7px 7px rgb(65, 64, 64);
   }

/*4 section a section (si la hubiera) en detalle*/
ul{margin-left: 2%;}

h1, h2{ /*font-family: titulo;*/
    color: rgb(226, 217, 217);
    text-align: center;
    width: 80%;
    margin: auto;
    padding: 10px;
    text-shadow: 3px 3px 4px rgb(0, 0, 0);
}
h1 {font-size: 2.1em;}
h2 {font-size: 2.1em;}

#lasana {
    max-width: 50%;
        display: block; /** fuerza a la imagen a comportarse como un lboque**/
        margin: 5vh auto;   /** como un bloqoue, y la centra**/
   }

@media only screen and (max-width: 900px) { /*corte para un tablet*/
    #wrapper { width: 95%; }
    #wrapper2 { width: 70%; }
    h1, h2 { width: 100%; }
    h1 { font-size: 1.6em; }
    h2 { font-size: 1.6em; }
    body {font-size: 1.4em;}
}

@media only screen and (max-width: 600px) { /*corte para un móvil*/
    h1 { font-size: 1.4em; }
    h2 { font-size: 1.4em; }
    h1, h2 { width: 60%; }
    #wrapper { width: 99%; }
    body {font-size: 1.2em;}
}


